@use "../color" as cl;

.main {
  width: 100%;
  height: 23vw;
  background-color: cl.$nv;
  color: cl.$wh;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 100;

  & .upperSide {
    display: flex;
    height: 12vw;

    h1 {
      width: 65%;
      color: cl.$light;
      bottom: 0;
      font-size: 7vw;
      text-decoration: underline 0.5vw;
      font-family: "Zen Kurenaido", "HiraginoSans-W0", "Hiragino Sans",
        "ヒラギノ角ゴシック";
    }

    & .user {
      display: flex;
      position: absolute;
      right: 0;
      margin-top: 2vw;
      margin-right: 2vw;

      & button {
        border: 0.3vw solid cl.$yw;
        background-color: cl.$yw;
        border-radius: 40em;
        margin-bottom: 0.2vw;
        margin-left: 1vw;
        font-size: 3.2vw;
      }
    }

    & .loginBtn {
      display: flex;
      position: absolute;
      right: 0;
      margin-top: 4vw;
      margin-right: 2vw;
      border: 0.3vw solid cl.$bl;
      background-color: cl.$bl;
      border-radius: 40em;
      font-size: 3.2vw;
      padding: 1vw;
    }
  }

  & .lowerSide {
    position: absolute;
    right: 0;

    cursor: pointer;

    & .link {
      display: flex;
    }

    & p {
      margin: auto 0;
    }
  }

  .link {
    width: 100%;
    height: 12vw;
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 3.2vw;
    font-family: lato, sans-serif;
    font-weight: 500;

    & li {
      display: inline-block;
      width: 30%;
      margin: auto;
      text-align: center;
      list-style: none;
      background-color: cl.$wh;
      color: cl.$nv;
      border: 0.5vw solid cl.$deepbl;
      border-radius: 40em;
      padding: 0.5em 1em 0.3em;
      position: relative;
      background-color: transparent;
      cursor: pointer;

      ::before {
        background-color: #ffffff;
        border-radius: 40em;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0.8vw;
        top: 0.8vw;
        z-index: -1;
      }
    }
  }
}

// デスクトップ用
@media screen and (min-width: 590px) {
  .main {
    height: 6.5vw;
    font-size: 2vh;
    font-family: "Zen Kurenaido", "HiraginoSans-W0", "Hiragino Sans",
      "ヒラギノ角ゴシック";
    display: flex;
    z-index: 1000;

    & .upperSide {
      width: 40%;
      height: 100%;
      display: flex;
      h1 {
        width: 41%;
        height: 3vw;
        font-size: 1.8vw;
        text-decoration: underline 0.2vw;
      }

      & .user {
        position: absolute;
        bottom: 0.1vw;
        font-size: 1.3vw;
        display: flex;
        width: 99%;
        height: 3vw;
        margin: auto;

        & button {
          margin-bottom: 0.5vw;
          font-size: 1.1vw;
          width: 7vw;
          height: 2.2vw;
          align-items: center;
        }
      }

      & .loginBtn {
        margin-bottom: 0.5vw;
        font-size: 1.1vw;
        position: absolute;
        left: 2vw;
        bottom: 0;
        width: 7vw;
        height: 2.2vw;
        display: flex;
        align-items: center;
      }
    }

    .link {
      height: 8.5vw;
      font-size: 1vw;
      width: 30%;
      position: absolute;
      right: 0;

      & li {
        border: 0.2vw solid cl.$deepbl;
        border-radius: 40em;
        padding: 0.5em 1em 0.3em;
        width: 33.3%;
        margin-right: 1vw;
        margin-bottom: 1vw;

        ::before {
          border-radius: 40em;
          left: 0.5vw;
          top: 0.4vw;
        }
      }
    }
  }
}
