@use "../color" as cl;

.main {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 30vw;
  background-color: white;
  border: 0.5vw solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  label {
    display: block;
    margin: 3vw;
    padding: 4vw;
  }

  input,
  select,
  textarea {
    outline: 0.5vw solid cl.$bl;
    color: gray;
  }

  textarea,
  input:nth-child(1) {
    width: 100%;
    padding-top: 0;
  }

  .upper {
    display: flex;

    label {
      margin: auto;
      &:nth-child(1) {
        padding: auto 0;
        margin-right: 0;
        text-align: center;
        input {
          text-align: center;
        }
      }
      &:nth-child(2) {
        padding-left: 0;
        margin-left: 0;
        margin-top: 0;
        select {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  label:nth-child(2) {
    padding-bottom: 0;
  }

  label:nth-child(3) {
    margin-top: 0;
    padding-top: 0;
    div {
      text-align: left;
      width: 30%;
    }
    textarea {
      height: 30vw;
      padding: 1vw;
      font-size: 4vw;
    }
  }

  button {
    display: inline-block;
    width: 30%;
    margin: auto;
    margin-bottom: 4vw;
    text-align: center;
    color: cl.$wh;
    font-size: 6vw;
    border: 0.5vw solid cl.$bl;
    border-radius: 40em;
    background-color: cl.$bl;
    cursor: pointer;

    &:disabled {
      cursor: default;
      background-color: rgb(169, 169, 169);
      border: rgb(159, 155, 155);
      color: gainsboro;
      height: 9.7vw;
    }
  }

  .error {
    width: 100%;
    color: rgb(150, 75, 75);
    font-size: medium;
  }
}

// デスクトップ用
@media screen and (min-width: 601px) {
  .main {
    width: 50%;
    height: 100%;
    margin: auto;
    font-size: 1.5vw;
    margin-top: 10vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);

    label {
      margin: 1vw;
      padding: 2vw;
    }

    input,
    select,
    textarea {
      outline: 0.1vw solid cl.$bl;
    }

    textarea,
    input:nth-child(1) {
      width: 70%;
    }
    input:nth-child(1) {
      padding: 0.3vw;
    }

    .upper {
      label {
        margin: auto;
        &:nth-child(1) {
          margin-right: 5vw;
        }
        &:nth-child(2) {
          margin-left: 2vw;
        }
      }
    }

    label:nth-child(3) {
      textarea {
        height: 15vw;
        padding: 0.4vw;
        font-size: medium;
      }
    }

    button {
      width: 8vw;
      margin: auto;
      margin-bottom: 2vw;
      font-size: 1.5vw;
      border: 0.5vw solid cl.$bl;

      &:disabled {
        height: 3.2vw;
      }
    }
  }
}
