@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(246, 241, 241);
  font-size: 5vw;
  color: rgb(66, 65, 65);
  width: 100%;
}

main {
  font-family: "Zen Kurenaido", "HiraginoSans-W0", "Hiragino Sans",
    "ヒラギノ角ゴシック";
}

@media screen and (min-width: 601px) {
  body {
    font-size: 1.4vw;
  }
}
