.main {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 27vw;
  background-color: white;
  border: 0.5vw solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}
.main .contents {
  margin: 16% auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.main .contents a {
  height: auto;
  width: 100%;
  margin: auto;
  text-decoration: underline;
}
.main .overlay {
  z-index: 10;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 78vw;
  width: 100%;
  background-color: white;
  border: 0.1vw solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
}
.main .overlay .returnBtn {
  width: 19%;
  height: 6vw;
  position: absolute;
  left: 0;
  font-size: smaller;
}
.main .overlay p {
  width: 100%;
  color: gray;
  text-decoration-line: underline;
  font-size: 5vw;
}
.main form {
  height: 75%;
}
.main form label {
  display: block;
  margin: 3vw;
  padding: 4vw;
  padding-bottom: 0.5vw;
  font-size: medium;
}
.main form label input {
  outline: 0.5vw solid rgb(140, 175, 189);
  color: gray;
  text-align: center;
  width: 90%;
}
.main form :nth-child(1) {
  padding-top: 0;
}
.main form .error {
  width: 100%;
  color: rgb(150, 75, 75);
  font-size: 4vw;
}
.main .submitBtn {
  margin: 2vw;
  margin-bottom: 4vw;
  border: 0.3vw solid rgb(140, 175, 189);
  background-color: rgb(140, 175, 189);
  border-radius: 40em;
  padding: 1.8vw 3vw;
  color: white;
  font-size: 4vw;
  cursor: pointer;
  margin: 0;
  position: relative;
  bottom: 4%;
}
.main .submitBtn:disabled {
  padding: 1.9vw 3.1vw;
  background-color: rgb(169, 169, 169);
  border: rgb(159, 155, 155);
  color: gainsboro;
  cursor: default;
}

@media screen and (min-width: 601px) {
  .main {
    width: 50%;
    height: 30vw;
    margin: auto;
    font-size: 1.5vw;
    margin-top: 10vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
  }
  .main .contents {
    margin: auto;
    margin-top: 16%;
    height: 41%;
    width: 27%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
  .main .contents a {
    height: auto;
    width: 100%;
    margin: auto;
  }
  .main .overlay {
    z-index: 10;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 30vw;
    width: 100%;
    background-color: white;
    border: 0.1vw solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
  }
  .main .overlay .upper {
    width: 100%;
    height: 10%;
    margin: 0;
  }
  .main .overlay .upper .returnBtn {
    width: 12%;
    height: 2vw;
  }
  .main .overlay .upper p {
    font-size: 2vw;
  }
  .main .overlay form {
    height: 75%;
  }
  .main .overlay form label {
    display: block;
    margin: 0;
    padding: 1vw;
    padding-top: 1vw;
    padding-bottom: 0.9vw;
    font-size: 1.3vw;
  }
  .main .overlay form label input {
    outline: 0.1vw solid rgb(140, 175, 189);
    width: 45%;
    height: 2vw;
    text-align: center;
  }
  .main .overlay form :nth-child(4) {
    padding-bottom: 0;
  }
  .main .overlay form .error {
    color: rgb(150, 75, 75);
    font-size: 1.3vw;
  }
  .main .overlay .submitBtn {
    margin: 2vw auto;
    font-size: 1.4vw;
    border: 0.5vw solid rgb(140, 175, 189);
    bottom: 10%;
  }
  .main .overlay .submitBtn:disabled {
    padding: 0.5vw 0.9vw;
  }
}/*# sourceMappingURL=mypage.module.css.map */