@use "../color" as cl;
.main {
  position: relative;
  text-align: center;
  width: 95%;
  height: 100%;
  margin: 30vw auto;
  margin-top: 25vw;
  padding: 5vw;
  background-color: white;
  border: 0.5vw solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1 {
    color: gray;
  }

  //Selectorコンポーネント
  .select {
    margin: 5vw auto;
    font-size: 4.5vw;

    & label {
      display: inline-block;
    }
    & select {
      outline: 0.5vw solid rgba(0, 0, 0, 0.26);
      border-radius: 20rem;
      text-align: center;
    }

    :nth-child(1) {
      margin-bottom: 2vw;
    }
  }

  //RecordListコンポーネント
  .item {
    margin-bottom: 7vw;
    .text {
      .date {
        display: flex;

        button {
          margin-bottom: 1vw;
          margin-left: 2vw;
          background-color: cl.$yw;
          color: white;
          width: 11%;
          text-align: center;
          border-radius: 10%;
          font-family: sans-serif;
          font-size: 3vw;
        }
      }
      p {
        background: linear-gradient(
          transparent 60%,
          rgba(165, 122, 205, 0.313) 60%
        );
        width: 34%;
        margin-bottom: 1vw;
      }
      :nth-child(2) {
        width: 95%;
        margin: auto;
        margin-bottom: 1vw;
        margin-top: 3vw;
        text-align: left;
      }
      span {
        color: rgb(149, 143, 158);
        text-decoration: underline;
        width: 95%;
        margin: auto;
        margin-bottom: 1vw;
        cursor: pointer;
      }
    }
    .memo {
      width: 95%;
      text-align: left;
      margin: 2.5vw auto;
      font-size: medium;
    }
  }

  //editコンポーネント
  .overlay {
    z-index: 1;
    /* 画面全体を覆う */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 117, 117, 0.315);
    text-align: center;

    .modal {
      height: 80%;
      width: 95%;
      margin: auto;
      margin-top: 26vw;
      background-color: white;

      & button:nth-child(1) {
        z-index: 100;
        position: fixed;
        right: 5vw;
        font-size: 8vw;
      }

      & p {
        margin: auto;
        color: gray;
        text-decoration-line: underline;
      }
    }

    & form {
      label {
        display: block;
        margin: 3vw;
        padding: 4vw;
      }

      input,
      select,
      textarea {
        outline: 0.5vw solid cl.$bl;
        color: gray;
      }

      textarea,
      input:nth-child(1) {
        width: 100%;
        padding-top: 0;
      }

      .upper {
        display: flex;

        label {
          margin: auto;
          &:nth-child(1) {
            padding: auto 0;
            margin-right: 0;
            text-align: center;
            input {
              text-align: center;
            }
          }
          &:nth-child(2) {
            padding-left: 0;
            margin-left: 0;
            margin-top: 0;
            select {
              width: 100%;
              text-align: center;
            }
          }
        }
      }

      label:nth-child(3) {
        margin-top: 0;
        padding-top: 0;
        div {
          text-align: left;
          width: 30%;
        }
        textarea {
          height: 30vw;
          padding: 1vw;
          font-size: 4vw;
        }
      }

      button {
        display: inline-block;
        width: 30%;
        margin: auto;
        margin-bottom: 4vw;
        text-align: center;
        color: cl.$wh;
        font-size: 6vw;
        border: 0.5vw solid cl.$bl;
        border-radius: 40em;
        background-color: cl.$bl;
        cursor: pointer;

        &:disabled {
          cursor: default;
          background-color: rgb(169, 169, 169);
          border: rgb(159, 155, 155);
          color: gainsboro;
          height: 9.7vw;
        }
      }
    }
  }
}

//デスクトップ
@media screen and (min-width: 601px) {
  .main {
    width: 60%;
    height: 100%;
    margin: 2vw auto;
    font-size: 1.3vw;
    margin-top: 7vw;
    padding: 2vw 4vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);

    h1 {
      color: gray;
      text-decoration-line: underline;
      font-size: 2vw;
      margin-top: 1vw;
    }

    //Selectorコンポーネント
    .select {
      margin: 2vw auto;
      display: inline-block;
      font-size: 1.4vw;
      height: 3vw;
      width: 80%;

      select {
        width: 50%;
        outline: 0.1vw solid rgba(0, 0, 0, 0.26);
        border-radius: 20rem;
      }
      label {
        width: 50%;
      }
    }

    //RecordListコンポーネント
    .item {
      margin-bottom: 3vw;
      .text {
        .date {
          display: flex;

          button {
            margin: auto 0;
            margin-bottom: 0;
            width: 14%;
            border-radius: 16%;
            font-size: smaller;
          }
        }

        :nth-child(1) {
          width: 46%;
          height: 2vw;
          margin: 0 1.1vw 0 0;
        }
        :nth-child(2) {
          margin-top: 2vw;
        }

        :nth-child(4) {
          text-align: left;
        }
      }
      .memo {
        width: 70%;
        margin: auto 3vw;
        margin-bottom: 1vw;
        text-align: left;
        font-size: 1.2vw;
      }
    }

    //editコンポーネント
    .overlay {
      .modal {
        width: 70%;
        margin-top: 8vw;

        & button:nth-child(1) {
          right: 16vw;
          font-size: 3vw;
        }
        & p {
          font-size: x-large;
          height: 2vw;
        }
      }

      & form {
        label {
          font-size: medium;
          margin: 1vw;
          padding: 2vw;
        }

        input,
        select,
        textarea {
          outline: 0.1vw solid cl.$bl;
        }

        textarea,
        input:nth-child(1) {
          width: 70%;
        }
        input:nth-child(1) {
          padding: 0.3vw;
        }

        .upper {
          height: 7vw;
          label {
            margin-top: 0;
            &:nth-child(1) {
              margin-right: 5vw;
            }
          }
        }

        .lower {
          label:nth-child(1) {
            margin-top: 0;
            padding-bottom: 0;
          }

          label:nth-child(2) {
            margin-top: 0;
            padding: 0;
            div {
              text-align: right;
              width: 21%;
            }
            textarea {
              height: 10vw;
              padding: 0.4vw;
              font-size: medium;
              width: 66%;
            }
          }
        }

        button {
          width: 8vw;
          margin: 0;
          font-size: 1.5vw;
          border: 0.5vw solid cl.$bl;

          &:disabled {
            height: 3.2vw;
          }
        }
      }
    }
  }
}
